body {
    background-color: #00a2ed;
    font-family: 'Poppins', sans-serif;
}

.formBcg {
    background-color: white;
    box-shadow: 1px 1px 10px #3f3f3f;
    border-radius: 25px;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}

input[type=email],
[type=password],
[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #111111;
    box-shadow: none !important;
}

.form-control {
    border-radius: 0;
}

#korIme {
    font-size: 12px;
    padding: 2;
}

#povratak a {
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

#povratak {
    margin-top: 20px;
    ;
}

.form-control {
    box-shadow: none !important;
    background: transparent;
    border: none;
    border-bottom: 1px solid #111111;
}

#postojeci {
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 12px;
    text-align: center;
}

#novi {
    text-decoration: none;
    font-weight: bold;
}