body{
    background: url("../img/pozadina.png");
    font-family: 'Poppins', sans-serif;
}
header{
    padding-top: 8px;;
    background-color: #3a3b3a;
    height: 40px;
}

/*NAV*/
#sign{
    text-decoration: none;
    color: #a8a8a8;
    margin-right: 25px;
}

#sign1{
    text-decoration: none;
    color: #d1cdcd;
    font-weight: bold;
}

.hdprijava{
    text-align: right;
}

#pomoc{
    color: #d1cdcd;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

#sign:hover{
    color: #ededed;
}

#sign1:hover{
    color: #ededed;
}

#logo{
    width: 80px;
    height: 80px;
}

.nav-item{
    margin-left: 30px;
    font-weight: bold;
}

.navbar{
    box-shadow: 1px 1px 10px #888888;
    border-radius: 12px;
    margin-top: 20px;
    opacity: 50%;
}

.btn{
    height: 60px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 100;
}

.btn-warning {
    color: #212529;
    background-color: #ffef43;
    border-color: #ffef43;
}

.btn-warning:hover {
    background-color: #fff266;
    border-color: #fff266;
}

/* navbar animacija */
#navbarNav ul li a {
    position:relative;
    z-index: 1;
  }
  #navbarNav ul li a:hover {
    color: #91640F;
  }
  #navbarNav ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #ffef43;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  #navbarNav ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
  transition: all .5s;
}
/* navbar animacija kraj*/

/*NAV KRAJ*/

.bigImg img{
    width: 100%;
	background-repeat: no-repeat;
    background-size: cover;
}

#detalji{
    text-align: right;
    margin-top: 20px;
    text-decoration: none;
}

#detalji a{
    text-decoration: none;
    color: gray;
}

#detalji :hover{
    color: #111;
}

#naziv{
    color: grey;
    font-weight: bold;
    font-size: 5.7vw;
    text-align: left;
    line-height: 80%;
    margin-top: 20px;
}

#pisac{
    color: #111111;
    text-align: left;
}

.btn1{
    position: absolute;
    left: 15px;
}

#prva{
   width: 50%;
   margin-bottom: 20px;
}

#noviNaslovi{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    color: grey;
    font-weight: 100;
}

#noviNaslovi2{
    color: grey;
    font-weight: 100;
}

#card a{
    text-decoration: none;
}

#card:hover{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}

#card{
    transition: transform .2s;
}

#card img{
    box-shadow: 2px 2px 10px #888888;
    border-radius: 25px;
}

.carousel{
    margin-bottom: 180px;
}

#nameCard{
    text-align: center;
    color: grey;
    font-size: 18px;
    margin-top: 10px;
}

#writeCard{
    text-align: center;
    color: #111111;
    font-size: 13px;
    margin-top: -15px;
}

#top5{
    margin-top: 150px;
}

.slika
{
	width: 100%;
	height: 350px;
	background-image: url("../img/ptk.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#slikaO{
    color: #111; 
    text-align: center; 
    padding-top: 90px;
    margin-top: 150px;
    font-size: 30px;
    font-weight: 800;
}

#slikaOO{
    color: rgb(46, 46, 46); 
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

/*FOOTER*/
footer{
    margin-top: 200px;
    background-color: white;
}

#footer1{
    font-weight: bold;
    color: #111111;
}

#footer2{
    color: grey;
    font-size: 13px;
    font-weight: 100;
}

#footer3{
    text-align: center;
    color: grey;
}

#adresa a{
    text-align: left;
    text-decoration: none;
    color: grey;
}

#adresa a:hover{
    color: #111111;
}

li {
    list-style-type: none;
}
/*FOOTER KRAJ*/